<!DOCTYPE html>
<html>
    <head>
        <title>json table</title>
    </head>
    <body>
        {{data}}
            <table border="1">
            <tr>
                <th>id</th>
                <th>email</th>
                <th>first name</th>
                <th>last name</th>
                <th>avatar</th>
            </tr>
            <!-- {%for i in data%} -->
            <tr>
                <td>{{data.get("id")}}</td>
                <td>{{data.get("email")}}</td>
                <td>{{data.get("first_name")}}</td>
                <td>{{data.get("last_name")}}</td>
                <td>{{data.get("avatar")}}</td>
            </tr>
            <!-- {%endfor%} -->
        </table>
    </body>
</html>